<div class="container">

  <div class="form">
    <h1 class="form__title">créer un utilisateur</h1>
    <form class="form__user"  [formGroup]="userForm">
      <mat-form-field class="form__user--width">
        <input matInput placeholder="Inserez votre email" formControlName="email" required>
        <mat-error *ngIf="userForm.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>

      <table class="form__user--width" cellspacing="20">
        <tr>
          <td>
            <mat-form-field class="form__user--width">
              <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'"
                     formControlName="password" required>
              <mat-error *ngIf="userForm.get('password').invalid">{{ getPasswordErrorMessage() }}</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="form__user--width">
              <input matInput placeholder="Confirmer le mot de passe" [type]="hide? 'password' : 'text'"
                     formControlName="confirmPassword" required>
              <mat-error *ngIf="userForm.get('confirmPassword').invalid">{{ getPasswordMatchErrorMessage() }}</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </td>
        </tr>
      </table>

      <table class="form__user--width" cellspacing="20">
        <tr>
          <td>
            <mat-form-field class="form__user--width">
              <input matInput placeholder="Nom"  formControlName="name" name="name" required>
              <mat-error *ngIf="userForm.get('name').invalid">{{getNameErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="form__user--width">
              <input matInput placeholder="Prénom"  formControlName="firstName" name="firstName" required>
              <mat-error *ngIf="userForm.get('firstName').invalid">{{getFirstNameErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="form__user--width" cellspacing="20">
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Gravatar"  formControlName="gravatar"/>
              <mat-error *ngIf="userForm.get('gravatar').invalid">{{ getGravatarErrorMessage() }}</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="form__user--width">
              <input type="tel" matInput placeholder="Téléphone"  formControlName="phone" required>
              <mat-icon matSuffix>phone</mat-icon>
              <mat-error *ngIf="userForm.get('phone').invalid">{{getPhoneErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <div class="form__profil">
        <mat-form-field>
          <mat-select placeholder="Votre profil" [(ngModel)]="selectedValue" formControlName="profil" required>
            <mat-option *ngFor="let profil of profils" [value]="profil.value">
              {{profil.type}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('profil').invalid">{{getProfilErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <p>
        <mat-form-field class="form__user--width"  >
          <textarea matInput placeholder="Adresse" formControlName="address"></textarea>
        </mat-form-field>
      </p>
      <table class="form__user--width" cellspacing="20">
        <tr>
          <td>
            <mat-form-field class="form__user--width" >
              <input matInput placeholder="Ville"  formControlName="city">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="form__user--width">
              <input matInput #postalCode maxlength="5" placeholder="Code Postal"  formControlName="zipcode">
              <mat-hint align="end">{{postalCode.value.length}} / {{postalCode.maxLength}}</mat-hint>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div class="">
        <div class="form__button">
          <button type="submit" mat-raised-button color="primary" (click)="createUser()">Valider</button>
          <button mat-raised-button (click)="navigateToHome()">Annuler</button>
        </div>
      </div>
    </form>
  </div>
</div>
